# Exam

During the exam we will analyze League of Legends match data. You will have 10 tasks to complete over `2` hours. You can use any resources you need (internet, notes, documentation), but you must complete the task alone - violation will be severly punished. To pass you need `60%` correct answers. You need to post the exam in your repository until `17:15`. If you post your answers after `17:15`, you won't be graded based on your repository notebook work and will receive a grade of `2`.

### Grading

| Points | Grade |
| :-- | :-- |
| 6 | 3 |
| 7 | 3.5 |
| 8 | 4 |
| 9 | 4.5 |
| 10 | 5 |

Each task can get between `0` and `1` points. So, if you do only a couple of things correct you can get eg. `0.6` points.

In [2]:
# Your student id here
student_id = 141037

In [3]:
# Import libraries you will use here
import pandas as pd
import seaborn as sns

In [4]:
# Set seaborn coloring

## Task 1

`[0.4]` Import the csv file `high_diamond_ranked_10min.csv` to a variable `lol_data`. Set the index column to `gameId`.

In [5]:
# Your code here
lol_data = pd.read_csv(
    'high_diamond_ranked_10min.csv',
    index_col = 'gameId'
)

`[0.2]` Display random 10 rows from the dataset.

In [6]:
# Your code here
lol_data.sample(10)

,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueHeralds,...,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin
gameId,,,,,,,,,,,,,,,,,,,,,
4526352878,1,18,3,0,9,11,16,0,0,0,...,0,18856,7.2,18800,221,81,1682,2102,22.1,1885.6
4518722458,0,27,4,0,4,7,3,0,0,0,...,0,17481,7.6,19667,222,76,2749,3335,22.2,1748.1
4524439900,0,22,3,0,6,9,6,0,0,0,...,0,17756,7.0,17751,211,44,2560,826,21.1,1775.6
4523577373,1,16,2,1,11,7,13,1,0,1,...,0,15886,6.4,15598,165,40,-3611,-2847,16.5,1588.6
4497173280,1,18,2,1,11,9,5,0,0,0,...,0,16989,6.6,16945,179,38,-1713,-1791,17.9,1698.9
4525208730,1,15,3,1,6,4,4,1,1,0,...,0,15494,7.0,18640,205,50,-1151,-470,20.5,1549.4
4526832449,0,15,3,1,7,9,9,1,0,1,...,0,17789,7.0,18103,217,53,134,1518,21.7,1778.9
4476398273,1,18,4,1,8,5,8,0,0,0,...,0,16109,6.8,17990,215,49,-2666,-400,21.5,1610.9
4522596231,1,18,2,1,9,4,11,0,0,0,...,0,14551,6.4,15684,198,44,-5619,-3506,19.8,1455.1
4518376722,1,13,1,1,8,3,9,2,1,1,...,0,15294,7.0,18008,234,54,-3049,-1511,23.4,1529.4

`[0.2]` Display the information about the dataset - columns, dtypes, etc.

In [7]:
# Your code here
lol_data.dtypes

blueWins                          int64
blueWardsPlaced                   int64
blueWardsDestroyed                int64
blueFirstBlood                    int64
blueKills                         int64
blueDeaths                        int64
blueAssists                       int64
blueEliteMonsters                 int64
blueDragons                       int64
blueHeralds                       int64
blueTowersDestroyed               int64
blueTotalGold                     int64
blueAvgLevel                    float64
blueTotalExperience               int64
blueTotalMinionsKilled            int64
blueTotalJungleMinionsKilled      int64
blueGoldDiff                      int64
blueExperienceDiff                int64
blueCSPerMin                    float64
blueGoldPerMin                  float64
redWardsPlaced                    int64
redWardsDestroyed                 int64
redFirstBlood                     int64
redKills                          int64
redDeaths                         int64
redAssists                        int64
redEliteMonsters                  int64
redDragons                        int64
redHeralds                        int64
redTowersDestroyed                int64
redTotalGold                      int64
redAvgLevel                     float64
redTotalExperience                int64
redTotalMinionsKilled             int64
redTotalJungleMinionsKilled       int64
redGoldDiff                       int64
redExperienceDiff                 int64
redCSPerMin                     float64
redGoldPerMin                   float64
dtype: object

`[0.2]` Display statistical information about the dataset - mean, quartiles, etc.

In [8]:
# Your code here
lol_data.describe()

,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueHeralds,...,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin
count,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,...,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000,9879.000000
mean,0.499038,22.288288,2.824881,0.504808,6.183925,6.137666,6.645106,0.549954,0.361980,0.187974,...,0.043021,16489.041401,6.925316,17961.730438,217.349226,51.313088,-14.414111,33.620306,21.734923,1648.904140
std,0.500024,18.019177,2.174998,0.500002,3.011028,2.933818,4.064520,0.625527,0.480597,0.390712,...,0.216900,1490.888406,0.305311,1198.583912,21.911668,10.027885,2453.349179,1920.370438,2.191167,149.088841
min,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,11212.000000,4.800000,10465.000000,107.000000,4.000000,-11467.000000,-8348.000000,10.700000,1121.200000
25%,0.000000,14.000000,1.000000,0.000000,4.000000,4.000000,4.000000,0.000000,0.000000,0.000000,...,0.000000,15427.500000,6.800000,17209.500000,203.000000,44.000000,-1596.000000,-1212.000000,20.300000,1542.750000
50%,0.000000,16.000000,3.000000,1.000000,6.000000,6.000000,6.000000,0.000000,0.000000,0.000000,...,0.000000,16378.000000,7.000000,17974.000000,218.000000,51.000000,-14.000000,28.000000,21.800000,1637.800000
75%,1.000000,20.000000,4.000000,1.000000,8.000000,8.000000,9.000000,1.000000,1.000000,0.000000,...,0.000000,17418.500000,7.200000,18764.500000,233.000000,57.000000,1585.500000,1290.500000,23.300000,1741.850000
max,1.000000,250.000000,27.000000,1.000000,22.000000,22.000000,29.000000,2.000000,1.000000,1.000000,...,2.000000,22732.000000,8.200000,22269.000000,289.000000,92.000000,10830.000000,9333.000000,28.900000,2273.200000

## Task 2

`[0.2]` Create a new column `whoWon` which contains `"red"` or `"blue"` based on the `blueWins` column.

In [9]:
# Your code here
def whoWon(row):
    if(row.blueWins == 1):
        return "blue"
    return "red"

lol_data['whoWon'] = lol_data.apply(whoWon, axis = "columns")
lol_data.sample(10)

,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueHeralds,...,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin,whoWon
gameId,,,,,,,,,,,,,,,,,,,,,
4521025798,1,14,2,0,4,3,3,1,1,0,...,15549,6.6,17507,253,46,-825,-1066,25.3,1554.9,blue
4524443617,1,17,3,0,4,1,5,1,1,0,...,14150,7.0,17611,214,47,-1891,-603,21.4,1415.0,blue
4476065129,0,17,7,0,6,6,9,0,0,0,...,16878,7.0,19539,245,56,66,1073,24.5,1687.8,red
4519431177,0,9,0,0,7,10,7,0,0,0,...,18923,7.2,19146,244,54,1360,1561,24.4,1892.3,red
4513799193,0,14,1,0,2,4,3,1,1,0,...,17246,7.0,17515,240,44,2928,110,24.0,1724.6,red
4478654416,1,16,1,1,12,9,17,0,0,0,...,17781,6.6,16580,225,34,-941,-2107,22.5,1778.1,blue
4526554592,1,13,5,0,4,10,8,0,0,0,...,17888,7.0,17801,210,40,3259,1518,21.0,1788.8,blue
4513070256,0,84,3,0,5,12,4,0,0,0,...,18995,7.6,20250,222,50,3176,2235,22.2,1899.5,red
4462715361,1,14,7,1,3,5,2,1,0,1,...,15912,7.0,18636,203,76,-17,-44,20.3,1591.2,blue
4497843332,1,14,6,1,9,4,13,0,0,0,...,15317,6.8,17762,227,48,-2091,-1359,22.7,1531.7,blue

`[0.2]` Create a new column `firstKill` which contains `"red"` or `"blue"` based on either `blueFirstBlood` or `redFirstBlood`.

In [10]:
# Your code here
def firstBlood(row):
    if(row.blueFirstBlood == 1):
        return "blue"
    return "red"

lol_data['firstKill'] = lol_data.apply(firstBlood, axis = "columns")
lol_data.sample(10)

,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueHeralds,...,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin,whoWon,firstKill
gameId,,,,,,,,,,,,,,,,,,,,,
4452452649,0,13,5,0,6,7,2,0,0,0,...,7.0,17505,212,40,1101,718,21.2,1634.5,red,red
4516959189,1,13,1,0,6,6,5,0,0,0,...,7.0,18721,211,44,-131,-1207,21.1,1611.7,blue,red
4463534767,1,16,2,0,12,5,12,0,0,0,...,6.4,15798,149,46,-5553,-3915,14.9,1463.7,blue,red
4445718276,0,14,6,0,10,9,8,0,0,0,...,7.0,18704,212,62,1281,525,21.2,1842.6,red,red
4503636905,0,43,3,0,3,7,3,1,0,1,...,6.8,18233,218,53,1975,1345,21.8,1682.7,red,red
4492374255,1,18,2,1,5,3,5,1,1,0,...,7.0,18725,234,64,-961,900,23.4,1562.2,blue,blue
4525957901,0,42,1,1,12,11,10,1,1,0,...,7.2,18075,159,46,48,-482,15.9,1820.7,red,blue
4474924285,1,13,1,1,2,3,1,0,0,0,...,6.8,17319,242,29,-209,-250,24.2,1525.5,blue,blue
4502464132,0,87,3,1,7,4,7,1,1,0,...,6.2,14710,183,28,-2568,-3054,18.3,1415.5,red,blue
4457247520,1,122,2,1,15,10,9,1,0,1,...,6.8,17150,183,27,-1902,-3370,18.3,1730.2,blue,blue

`[0.1]` Set the dtype of the `whoWon` and `firstKill` to categorical.

In [11]:
# Your code here
lol_data.whoWon = lol_data.whoWon.astype('category')
lol_data.firstKill = lol_data.firstKill.astype('category')
lol_data.sample(10)

,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueHeralds,...,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin,whoWon,firstKill
gameId,,,,,,,,,,,,,,,,,,,,,
4510754518,1,19,3,0,5,4,3,1,1,0,...,6.6,17358,218,48,-1217,-2934,21.8,1584.4,blue,red
4526560120,0,14,2,1,4,6,2,0,0,0,...,6.8,18373,222,52,2523,2080,22.2,1635.2,red,blue
4490512919,0,41,7,1,5,13,7,0,0,0,...,7.4,19637,235,49,5760,4168,23.5,2053.6,red,blue
4514596756,0,25,4,0,8,4,8,1,0,1,...,6.4,16578,211,40,-3152,-2104,21.1,1490.5,red,red
4477428362,1,12,1,1,3,5,3,0,0,0,...,7.2,19583,243,60,564,1862,24.3,1627.2,blue,blue
4495909793,0,17,1,0,5,6,5,0,0,0,...,6.8,17191,221,60,97,-1114,22.1,1627.6,red,red
4521433925,1,18,2,0,5,5,5,0,0,0,...,7.0,19040,207,76,1344,2597,20.7,1653.5,blue,red
4504366745,0,24,3,0,6,5,8,0,0,0,...,7.2,18466,239,64,-226,-557,23.9,1658.3,red,red
4524921520,1,25,1,0,5,5,4,0,0,0,...,7.2,18384,235,52,-570,-368,23.5,1643.3,blue,red
4458282675,1,18,4,0,11,6,13,2,1,1,...,6.4,16539,208,32,-3977,-3949,20.8,1570.0,blue,red

`[0.5]` Cast all `float` columns to `int`, while setting each value to its ceiling.

In [12]:
# Your code here

## Task 3

`[1.0]` Create two new columns: `blueFinalWards` and `redFinalWards` that are calculated in the following manner:

```
blueFinalWards = blueWardsPlaced - redWardsDestroyed
redFinalWards = redWardsPlaced - blueWardsDestroyed
```

In [24]:
# Your code here
lol_data['blueFinalWards'] = lol_data.apply(lambda x: x['blueWardsPlaced'] - x['redWardsDestroyed'], axis = 1)
lol_data['redFinalWards'] = lol_data.apply(lambda x: x['redWardsPlaced'] - x['blueWardsDestroyed'], axis = 1)
lol_data.sample(10)

,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueHeralds,...,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin,whoWon,firstKill,blueFinalWards,redFinalWards
gameId,,,,,,,,,,,,,,,,,,,,,
4520909804,1,40,3,1,9,5,3,2,1,1,...,203,40,-2227,-2792,20.3,1544.2,blue,blue,38,12
4524683257,0,12,3,0,4,7,2,0,0,0,...,219,54,3346,1685,21.9,1847.1,red,red,8,15
4516672650,0,14,0,0,2,9,2,1,1,0,...,236,44,3426,2539,23.6,1812.1,red,red,13,16
4523849056,1,26,2,1,5,4,8,1,1,0,...,249,49,686,619,24.9,1620.4,blue,blue,22,19
4458560813,1,18,2,1,10,7,13,0,0,0,...,205,32,-1269,-788,20.5,1640.5,blue,blue,16,9
4525590476,1,19,6,1,8,6,10,2,1,1,...,210,42,-2008,-2714,21.0,1552.9,blue,blue,13,19
4517904549,1,18,2,0,3,5,3,1,1,0,...,216,51,1086,637,21.6,1672.2,blue,red,14,38
4480203372,0,13,2,0,9,4,12,0,0,0,...,191,42,-4062,-2332,19.1,1523.0,red,red,11,24
4521318452,1,17,0,0,9,8,8,1,0,1,...,198,40,-545,-1033,19.8,1711.2,blue,red,15,14
4524024822,1,13,8,1,12,2,10,2,1,1,...,165,36,-8027,-7621,16.5,1283.3,blue,blue,11,9

## Task 4

`[0.5]` Create two new columns: `blueMinionsKilledOutsideJungle` and `redMinionsKilledOutsideJungle` which is a difference of two specific columns in the dataset and save it to the variable `lol_data_updated`.

In [29]:
# Your code here
lol_data['blueMinionsKilledOutsideJungle'] = lol_data.apply(
    lambda x: x['blueTotalMinionsKilled'] - x['blueTotalJungleMinionsKilled'], axis = 1)
lol_data['redMinionsKilledOutsideJungle'] = lol_data.apply(
    lambda x: x['redTotalMinionsKilled'] - x['redTotalJungleMinionsKilled'], axis = 1)
lol_data_update = lol_data.loc[:,
    ['blueMinionsKilledOutsideJungle', 'redMinionsKilledOutsideJungle']]
lol_data_update.sample(10)

            blueMinionsKilledOutsideJungle  redMinionsKilledOutsideJungle
gameId
4419234240                             190                            198
4497964264                             186                            191
4482504692                             167                            164
4516604848                             163                            201
4481862687                             213                            145
4516828940                             136                            142
4525369607                             172                            152
4469768643                             156                            191
4502653498                             138                            172
4489431595                             139                            162

`[0.5]` Remove the following columns: `blueTotalMinionsKilled`, `redTotalMinionsKilled`, `blueTotalJungleMinionsKilled`, `redTotalJungleMinionsKilled` and save this to the previous variable.

In [32]:
# Your code here
lol_data_update += lol_data.drop([
    'blueTotalMinionsKilled', 
    'redTotalMinionsKilled', 
    'blueTotalJungleMinionsKilled', 
    'redTotalJungleMinionsKilled'
], axis = 1)
lol_data_update.sample(10)

            blueMinionsKilledOutsideJungle  redMinionsKilledOutsideJungle
gameId
4524024822                             609                            387
4495106153                             432                            549
4478440823                             645                            447
4520783162                             570                            591
4520650822                             531                            579
4477806643                             540                            372
4451773620                             588                            552
4515763607                             378                            528
4508671448                             399                            558
4508148812                             531                            390

## Task 5

`[0.8]` Create a new variable `lol_data_group` where you groupby `whoWon` and `firstKill`, with the following aggregations:

- `blueTotalGold` - sum
- `redTotalGold` -  sum
- `blueKills` - mean
- `redKills` - mean
- `blueGoldPerMin` - max
- `redGoldPerMin` - min

In [44]:
# Your code here
lol_data_group = lol_data.groupby([
    'whoWon', 
    'firstKill'
]).agg({
    'blueTotalGold': ['sum'],
    'redTotalGold': ['sum'],
    'blueKills': ['mean'],
    'redKills': ['mean'],
    'blueGoldPerMin': ['max'],
    'redGoldPerMin': ['min']     
})
lol_data_group.sample(4)

                 blueTotalGold redTotalGold blueKills  redKills  \
                           sum          sum      mean      mean
whoWon firstKill
blue   red            32473220     31667955  6.462687  5.832733
red    red            45895158     51216382  4.641573  7.556799
       blue           32616328     33417347  5.949500  6.503500
blue   blue           52052931     46593556  7.682290  4.689990

                 blueGoldPerMin redGoldPerMin
                            max           min
whoWon firstKill
blue   red               2327.8        1317.3
red    red               2088.7        1378.9
       blue              2105.5        1289.1
blue   blue              2370.1        1121.2

`[0.2]` **Rename** (use good function here) the columns of `lol_data_group` to `blueTotalGoldSum`, `redTotalGoldSum`, `blueKillsMean`, `redKillsMean`, `blueGoldPerMinMax`, `redGoldPerMinMin`.

In [17]:
# Your code here

## Task 6

`[1.0]` Melt the DataFrame where the id variables are the index and value vars are `blueHeralds`, `redHeralds`, `blueDragons`, `redDragons`, `blueEliteMonsters` and `redEliteMonsters`. Save the result as `lol_data_melt`.

*Hint: you can use `reset_index()` to achieve a correct melt.*

In [18]:
# Your code here

## Task 7

`[1.0]` Create a seaborn `barplot` of the `lol_data_melt` where `x` is the variable, and `y` is the value.

In [19]:
# Your code here

## Task 8

`[1.0]` Create a seaborn `scatterplot` of `lol_data`.

- For `x` select `blueGoldPerMin`,
- For `y` select `redGoldPerMin`, 
- Color the graph by `whoWon`,
- Change dots to be different based on `firstKill` (dots and crosses).

In [20]:
# Your code here

## Task 9

`[0.5]` Create a horizontal `matplotlib` subplot that holds two distribution plots using seaborn for `lol_data`: `redCSPerMin` and `blueCSPerMin`.

In [21]:
# Your code here

`[0.5]` Create a seaborn `boxplot` using `lol_data` for the `blueAvgLevel` column depending on `whoWon`.

In [22]:
# Your code here

## Task 10

`[1.0]` Create a triangle (half square) seaborn `clustermap` of the `lol_data` correlations.

- Change the color palette to "mako"

*Hint: You can check stack overflow how to create masks using `numpy`.*

In [23]:
# Your code here